@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	main {
		@apply w-screen h-screen dark:bg-gray-900 dark:text-gray-100 text-gray-900 bg-gray-200;
	}

	.btn {
		@apply border-0 rounded-sm dark:bg-gray-800 shadow-md px-2 py-3 text-xl font-bold focus:outline-none focus:ring-2 ring-gray-500 bg-gray-100 hover:bg-gray-200 dark:hover:bg-gray-700 transition-all duration-200 transform active:scale-95;
	}
}
